<html>
  <body>
    <form action="/" method="post">
      <label for="your_name"> Your name: </label><br />
      <input type="text" name="post_request_name" value="{{ default_name }}"required>
      <label for="your_email"> Your email:</label><br />
      <input type="email" name="post_request_email" value="{{ default_email}}"><br />
      <label for="your_comment"> Your comment:</label><br />
      <input type = "text" name="post_request_comment" value="{{ default_comment }}"><br />
      <label for="your_job"> Your job: </label><br />
      <input type = "text" name="post_request_job" value="{{ default_job }}"><br />
      <input type="submit" value="Submit">
    </form>
    <table>
    {% for guestbook_entry in guestbook_entries %}
      <tr>
        <td>
          Name:&nbsp;{{ guestbook_entry.name }}
        </td>
        <td>
          Email:&nbsp;{{ guestbook_entry.email }}
        </td>
      </tr>
      <tr>
        <td>
          Comment:&nbsp;{{ guestbook_entry.comment }}
        </td>
      </tr>
      </tr>
      <td>
        Job:&nbsp;{{ guestbook_entry.job }}
    <td>
  </tr>
    {% endfor %}
    </table>
  </body>
</html>
